

.btn-mvm{

    border-radius: 10px;
 
    color: #f6caca !important;
}

.td-table {
    background-color: #eba308 !important;
    color: white !important;
}

.dt-body-center {
    background-color: white;
    color: black;
}

.nav-theme{
    background-color: #475b5a;
}

.table-border,
thead,
tbody,
tr {
  border: 5px dotted yellow;

}

 