:root{
    /* --backgroundColor: #eee5e9; */
    --backgroundColor: #ECF0F1;
    --tableBackground:  #cc2936;
    --tableFontColor: white;
    --navBackground: #08415c;
    --tableBodyBackground: white;
    --tableBodyFontColor: black;
}

body{
    background: var(--backgroundColor);
}

td{
    /*text-align: center <--- varía, por eso no se deja como regla de etiqueta*/
    vertical-align: middle !important;
}

.td-table {
    background-color: var(--tableBackground)!important;
    color: var(--tableFontColor)!important;
}



.nav-theme{
    background-color: var(--navBackground);
}

.dt-body-center {
    background-color: var(--tableBodyBackground);
    color: var(--tableBodyFontColor);
}

input, select{
    background-color: white !important;
}

#div-codigo{
    display: none;
}

#div-serie{
    display: none;
}


#div-codigo2{
    display: none;
}

#div-serie2{
    display: none;
}


.resaltado > a{
 color: white !important;
}


 .prestamos-tr:hover,
 .faltantes-tr:hover{
    cursor: pointer;
    background-color: var(--backgroundColor);
    transition: all .1s ease-in-out;
} 



.dataTable th,
.dataTable td{
    text-align: left !important;
     padding: 5px 10px !important; 
}

thead .td-table {
    padding: 10px 10px !important;
    line-height: 15px;
 }


 #tabla-tipo .dt-body-center-acciones{
     text-align: center !important;
     padding: 5px 10px !important;
 }

 #tabla-cortes td,
 #tabla-cortes th{
     text-align: center !important;
 }

 #tabla-catalogo td{
    max-width: 0 !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
 }
  
  #tabla-catalogo td:hover {
    overflow: visible !important;
    white-space: normal !important;
    cursor: pointer;
  }

.nav-tabs{
    background-color:#ECF0F1;
  }

  .nav-tabs > li > a{
    border: medium none;
  }
  
  .nav-tabs > li > a:hover{
    background-color: #303136 !important;
      border: medium none;
      border-radius: 0;
      color:#ECF0F1 !important;
  }

.nav .active{
    background-color:rgba(243, 229, 30, 0.925) !important;
}

.modal-xl{
    width: 90% !important;
    max-width: 1200px !important;
}


/*estilo form pedido*/
/* añador scrollbar a tabla */
.my-custom-scrollbar {
    position: relative;
    max-height: 22.25rem;
    overflow: auto;
    }

.my-custom-scrollbar-resumen {
    position: relative;
    max-height: 12.25rem;
    overflow: auto;
}

.my-custom-scrollbar-corte{
    position: relative;
    max-height: 28.25rem;
    overflow: auto;
}

    
    
    .table-wrapper-scroll-y {
    display: block;
    padding: 10px;
    }
    
    .es-list li{
        cursor: pointer !important;
    }
    
    .disabled {
        pointer-events:none !important; 
        opacity:0.6 !important;         
    }

    .prestamos-tr a{
        text-decoration: none;
        color: #212529;
    }

    
    
    #tabla-seleccionados td,
    #tabla-seleccionados th{
        text-align: center; 
        vertical-align: middle;
        font-size: 15px;
        padding: 5px 2px 5px;
    }

    #tabla-seleccionados th{
        font-size: 16px;
    }

    #tabla-seleccionados a{
        padding: 2px 2px; 
        margin: 2px 2px;
    }


    #confirmHer{
        z-index: 1111;
    }

    #backdrop {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.3);
        z-index: 10;
      }

      #confirmPrestamo{
        top:0%;
        left:0%;
        position:absolute;
        
      }

      .qty-ok{
        color: #177A3E;
        font-weight: bold;
      }

      .qty-error{
        color: #E22A2D;
        font-weight: bold;
      }

      #dropdown-ajustes a,
      #button-dropdown-cortes a{
        cursor: pointer;
      }

      #div-boton-excel{
        display: inline;
        text-align: center;
      }

      .btn-principales{
        display:inline-block;
        width:30%;
        padding:20px;
        text-align: center;
        font-weight: bold;
        color:black;
        font-size: 20px;
        /* box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.8); */
        /* background: linear-gradient(to bottom right, #0F8BCF, #3A7CA0); */
        background: linear-gradient(to bottom right, #FFC300, #F1C40F);
        transition: none;
      }

      .btn-principales:hover{
        /* background: #106493; */
        background: #D4AC0D;
      }

      .btn{
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.8);
        }











      