body{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.form-group{
    margin-top: 5%;
    text-align: center;
}

.card-transparent{
    margin-top: 6%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5%;
}

.img-fluid{
    margin-top: 5%;
    text-align: center;
}

.credits{
    margin-top: 3%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    border: black solid 1%;
    text-decoration: none;
    color: white;
}

.noDecoration {
    text-decoration: none;
    color: rgb(255, 218, 218) !important;
}




/*
https://scontent.ftrc1-1.fna.fbcdn.net/v/t1.6435-9/123644445_2878024399095096_4459794674641722949_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=e3f864&_nc_eui2=AeGNaTl6EzQBfHWbHYBJbbm5uDIrEGR-w3W4MisQZH7DdcXMvX7HQd4c1NYdB0x5Q-9m1-W5ohbKFXLZEY8Vj_28&_nc_ohc=oj_b4OntcCgAX-YoXLb&_nc_ht=scontent.ftrc1-1.fna&oh=35a602f38b58ea49e1c54d51b07c5a21&oe=6160F757
*/